<div class='container mt-5'>
<table id='players-table' class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Postion</th>
      <th scope="col">Team</th>
      <th scope="col">Bye Week</th>
      <th scope="col">Draft</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
        <tr>
        <td><%= image_tag player.headshot %> - <%= player.name %></td>
        <td><%= player.position %></td>
        <td><%= player.nfl_team %></td>
        <td><%= player.bye_week %></td>
        <td><%= link_to 'Draft', player_path(player), class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<script type='text/javascript'>
  $(document).ready(function(){
    $('#players-table').DataTable();
  })
</script>
